body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* General */
.mb-12 {
  margin-bottom: 12px;
}
.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

label {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.dark-blue {
  color: #00008b;
}
.bg-dark-blue {
  background-color: #183153 !important;
}
.bg-gray {
  background-color: #ccc;
}
.bg-dark-green {
  background-color: #54b435;
}
.orange {
  color: orange;
}
.title {
  font-size: 20px !important;
  font-weight: 700;
}
.subtitle {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

/* Components */
.custom__circle {
  width: 44px;
  height: 44px;
}
.custom__button {
  width: 220px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  background-color: #fd841f;
  color: #fff;
  border: none;
  position: relative;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
}
.custom__button::before {
  content: "";
  right: -5px;
  position: absolute;
  width: 20px;
  height: 110%;
  background-color: #fff;
  transform: rotate(10deg);
}
button.custom__button:disabled,
button.custom__button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.add__row {
  width: 90px;
}
.custom__input {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.custom__input input {
  border: 1.6px solid #183153;
  height: 44px;
}
.custom__input input:focus {
  outline: none;
}
.custom__input::before {
  content: "";
  right: -5px;
  position: absolute;
  width: 20px;
  height: 110%;
  border: 1.6px solid #fff;
  background-color: #fff;
  border-left-width: 1.6px;
  border-left-color: #183153;
  transform: rotate(7deg);
}

.selected__option {
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 100%;
}

.selected__option .form-check-input {
  height: 100%;
  position: absolute;
  margin-top: 0 !important;
  margin-left: 0 !important;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

/* Open Modal button */
.tooltip-button {
  outline: none;
}
.info-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  cursor: pointer;
  right: 8px;
  background: orange;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.info-icon i {
  font-size: 12px;
}

.remove-button {
  font-size: 24px;
}
.app {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-block {
  max-width: 680px;
  margin: 0 auto !important;
}
.selected__option label {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.selected__option input {
  opacity: 0;
}

/* Add option */
.main {
  max-width: 800px;
  margin: 0 auto;
  min-height: 200px;
}

.box {
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.rows__row {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}
.rows__buttons {
  display: grid;
  grid-template-columns: 56px 1fr;
}
.render-pdf {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.to-home-btn {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -58%);
  z-index: 9999;
}

/* Add option page */
@media only screen and (max-width: 768px) {
  .box {
    padding: 20px;
  }
}

@media only screen and (max-width: 568px) {
  /* General */
  .custom__circle {
    width: 38px;
    height: 38px;
  }
  .custom__button {
    height: 40px;
  }

  .selected__option label {
    font-size: 16px;
  }
  .title {
    font-size: 18px !important;
  }

  .custom__input input {
    height: 38px;
  }
  .rows__buttons {
    grid-template-columns: 48px 1fr;
  }
}
